<app-header></app-header>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>
    <br>
  <section class="services" id="services">
    <h1 class="heading">Our<span>services</span></h1>
    <div class="box-container">
        <div class="box">
            <i class="fas fa-notes-medical"></i>
            <h3>free checkups</h3>
            <p>At [Hospital Name], we offer a wide range of medical specialties and treatments,</p>
            <a  class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-ambulance"></i>
            <h3>24/7 ambulance</h3>
            <p>At [Hospital Name], we offer a wide range of medical specialties and treatments,</p>
            <a  class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-user-md"></i>
            <h3>expert doctors</h3>
            <p>At [Hospital Name], we offer a wide range of medical specialties and treatments,</p>
            <a  class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-pills"></i>
            <h3>medicens</h3>
            <p>At [Hospital Name], we offer a wide range of medical specialties and treatments,</p>
            <a  class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-procedures"></i>
            <h3>bedfaciliy</h3>
            <p>At [Hospital Name], we offer a wide range of medical specialties and treatments,</p>
            <a  class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>total care</h3>
            <p>At [Hospital Name], we offer a wide range of medical specialties and treatments,</p>
            <a  class="btn">learn more <span class="fas fa-chevron-right"></span></a>
        </div>
    </div>
</section>

</body>

</html>
<app-footer></app-footer>