<app-header></app-header>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>
  <section class="about" id="about">
    <h1 class="heading"><span>about </span>us</h1>
    <div class="row">
        
        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>[Hospital Name], we offer a wide range of medical specialties and treatments,
                [Hospital Name], we offer a wide range of medical specialties and treatments,</p>
            <p>[Hospital Name], we offer a wide range of medical specialties and treatments,
                [Hospital Name], we offer a wide range of medical specialties and treatments,</p>
            <a routerLink="about" class="btn">learn more<span class="fas fa-chevron-right"></span></a>
        </div>
        <div class="image">
          <img src="../../assets/images/login-image3.avif">
      </div>
    </div>
</section>

</body>

</html>
<app-footer></app-footer>