<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>


<app-header></app-header>
<div class="container">
  <section class="vh-8 mt-4">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-4 col-lg-5 d-none d-md-block">
                <img src="../../assets/images/appoint.jpg" alt="login form" class="img-fluid"
                  style="border-radius: 1rem 0 0 1rem; height: 710px; width: 1800px;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">


                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class=" fas fa-user-md fa-2x me-3"></i>
                    <span class="h1 fw-bold mb-0 " style="color:#16a085"> Appointment</span>
                  </div>
                  <br>

                  <form [formGroup]="pdfview" (ngSubmit)="AddNewUser()">

                    <div class="form-outline mb-4 form-group">
                      <input type="text" class="form-control form-control-lg" required placeholder="Patient Name"
                        id="name" name="name" formControlName="patientName" />
                    </div>



                    <div class="form-outline mb-4 form-group">
                      <input type="email" class="form-control form-control-lg" placeholder="Patient Email" name="email"
                        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                        formControlName="patientEmail" />
                    </div>

                    <div class="form-outline mb-4 form-group">
                      <input type="age" class="form-control form-control-lg" placeholder="Age" name="age" required
                        formControlName="age" />
                    </div>

                    <div class="form-outline mb-4 form-group">
                      <select class="form-control form-control-lg" name="gender" formControlName="gender" required
                        placeholder="Select Gender">
                        <option value="" disabled selected hidden>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>

                    <div class="form-outline mb-4 form-group">
                      <input type="text" class="form-control form-control-lg" required placeholder="Problem"
                        id="problem" name="problem" formControlName="problem" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="date" class="form-control form-control-lg" placeholder="Slot" name="slot" required
                        formControlName="slot" />
                    </div>

                    <div class="pt-3 mb-9">
                      <button class="btn" type="submit">Book <span class="fas fa-chevron-right"></span></button>

                    </div>
                    <br>


                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
